<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <template v-if="aisatu">
        <p>ohayou</p>
        <p>konbanha</p>
        <p>sayonara</p>
      </template>
      <button v-on:click="aisatu = !aisatu">ボタン</button>
      <p v-if="ok">OK!</p>
      <p v-else-if="maybeOk">maybeOk</p>
      <p v-else>Not OK...</p>
      <ul>
        <li v-for="(drink,index) in drinks">({{index}}),{{drink}}</li>
      </ul>

      <ul>
        <li v-for="(value,key,index) in objects">
          {{index}}-{{key}}:{{value}}
        </li>
      </ul>

      <h1>templateTag</h1>
      <template v-for="drink in drinks">
        <li>{{drink}}</li>
        <hr />
      </template>

      <ul>
        <li v-for="i in 5">{{i}}</li>
      </ul>
      <ul>
        <div v-for="drink in drinks" :key="drink">
          <p>{{drink}}</p>
          <input type="text" />
        </div>
      </ul>
      <button @click="remove">先頭を削除</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="if_list_rendering.js"></script>
  </body>
</html>
